In [1]:
import pandas as pd
import numpy as np

In [2]:
url_jan = "201701-citibike-tripdata.csv"
jan_df = pd.read_csv(url_jan)
jan_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [3]:
url_feb = "201702-citibike-tripdata.csv"
feb_df = pd.read_csv(url_feb)
feb_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,1087,2017-02-01 00:00:13,2017-02-01 00:18:20,345,W 13 St & 6 Ave,40.736494,-73.997044,305,E 58 St & 3 Ave,40.760958,-73.967245,17432,Subscriber,1966.0,1
1,704,2017-02-01 00:00:31,2017-02-01 00:12:15,3295,Central Park W & W 96 St,40.791270,-73.964839,2006,Central Park S & 6 Ave,40.765909,-73.976342,20621,Customer,NaN,0
2,212,2017-02-01 00:00:34,2017-02-01 00:04:06,336,Sullivan St & Washington Sq,40.730477,-73.999061,439,E 4 St & 2 Ave,40.726281,-73.989780,16826,Subscriber,1984.0,1
3,1140,2017-02-01 00:00:44,2017-02-01 00:19:44,484,W 44 St & 5 Ave,40.755003,-73.980144,3295,Central Park W & W 96 St,40.791270,-73.964839,27052,Subscriber,1980.0,1
4,320,2017-02-01 00:00:42,2017-02-01 00:06:02,490,8 Ave & W 33 St,40.751551,-73.993934,3431,E 35 St & 3 Ave,40.746524,-73.977885,25238,Subscriber,1987.0,1

In [4]:
url_mar = "201703-citibike-tripdata.csv"
mar_df = pd.read_csv(url_mar)
mar_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,1893,2017-03-01 00:00:32,2017-03-01 00:32:06,2009,Catherine St & Monroe St,40.711174,-73.996826,527,E 33 St & 2 Ave,40.744023,-73.976056,27291,Subscriber,1973.0,2
1,223,2017-03-01 00:01:09,2017-03-01 00:04:53,127,Barrow St & Hudson St,40.731724,-74.006744,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,19387,Subscriber,1985.0,2
2,1665,2017-03-01 00:01:27,2017-03-01 00:29:12,174,E 25 St & 1 Ave,40.738177,-73.977387,307,Canal St & Rutgers St,40.714275,-73.989900,15809,Subscriber,1988.0,1
3,100,2017-03-01 00:01:29,2017-03-01 00:03:10,316,Fulton St & William St,40.709560,-74.006536,306,Cliff St & Fulton St,40.708235,-74.005301,18956,Subscriber,1991.0,1
4,1229,2017-03-01 00:01:33,2017-03-01 00:22:02,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,25728,Subscriber,1963.0,1

In [5]:
data_df = pd.concat([jan_df, feb_df, mar_df], ignore_index=True)

In [9]:
data_df.dropna()
data_df[data_df.Gender!=0]

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
5,666,2017-01-01 00:01:51,2017-01-01 00:12:57,3163,Central Park West & W 68 St,40.773407,-73.977825,3163,Central Park West & W 68 St,40.773407,-73.977825,16050,Subscriber,2000.0,1
6,559,2017-01-01 00:05:00,2017-01-01 00:14:20,499,Broadway & W 60 St,40.769155,-73.981918,479,9 Ave & W 45 St,40.760193,-73.991255,27294,Subscriber,1973.0,1
7,826,2017-01-01 00:05:37,2017-01-01 00:19:24,362,Broadway & W 37 St,40.751726,-73.987535,445,E 10 St & Avenue A,40.727408,-73.981420,23288,Subscriber,1977.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245983,261,2017-03-31 23:57:12,2017-04-01 00:01:34,482,W 15 St & 7 Ave,40.739355,-73.999318,509,9 Ave & W 22 St,40.745497,-74.001971,28366,Subscriber,1983.0,1
2245984,119,2017-03-31 23:59:29,2017-04-01 00:01:28,3379,E 103 St & Lexington Ave,40.790305,-73.947558,3425,2 Ave & E 104 St,40.789210,-73.943708,16315,Subscriber,1987.0,1
2245985,451,2017-03-31 23:59:42,2017-04-01 00:07:13,3224,W 13 St & Hudson St,40.739974,-74.005139,3259,9 Ave & W 28 St,40.749370,-73.999234,27996,Subscriber,1974.0,1
2245986,1032,2017-03-31 23:59:49,2017-04-01 00:17:01,351,Front St & Maiden Ln,40.705310,-74.006126,302,Avenue D & E 3 St,40.720828,-73.977932,21097,Subscriber,1978.0,1
2245987,117,2017-03-29 11:57:54,2017-03-29 11:59:52,3416,7 Ave & Park Pl,40.677615,-73.973243,3346,Berkeley Pl & 7 Ave,40.675147,-73.975232,16750,Subscriber,1949.0,2

In [11]:
data_df.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object

In [12]:
data_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [16]:
new_data_df = data_df.drop(['Stop Time', 'Start Station ID', 'End Station ID', 'Bike ID'], axis=1)

In [17]:
new_data_df.head()

,Trip Duration,Start Time,Start Station Name,Start Station Latitude,Start Station Longitude,End Station Name,End Station Latitude,End Station Longitude,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,W 82 St & Central Park West,40.782750,-73.971370,Central Park West & W 72 St,40.775794,-73.976206,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,Cooper Square & E 7 St,40.729236,-73.990868,Broadway & W 32 St,40.748549,-73.988084,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,5 Ave & E 78 St,40.776829,-73.963888,3 Ave & E 71 St,40.768737,-73.961199,Customer,NaN,0
3,631,2017-01-01 00:01:10,5 Ave & E 78 St,40.776829,-73.963888,3 Ave & E 71 St,40.768737,-73.961199,Customer,NaN,0
4,621,2017-01-01 00:01:25,5 Ave & E 78 St,40.776829,-73.963888,3 Ave & E 71 St,40.768737,-73.961199,Customer,NaN,0

In [19]:
new_data_df = new_data_df[new_data_df.Gender!=0]

In [20]:
new_data_df = new_data_df.replace({'Gender': 1}, {'Gender': 'Male'}, regex=True)

In [21]:
new_data_df = new_data_df.replace({'Gender': 2}, {'Gender': 'Female'}, regex=True)

In [22]:
new_data_df["age"] = 2019-new_data_df["Birth Year"]

In [23]:
new_data_df

,Trip Duration,Start Time,Start Station Name,Start Station Latitude,Start Station Longitude,End Station Name,End Station Latitude,End Station Longitude,User Type,Birth Year,Gender,age
0,680,2017-01-01 00:00:21,W 82 St & Central Park West,40.782750,-73.971370,Central Park West & W 72 St,40.775794,-73.976206,Subscriber,1965.0,Female,54.0
1,1282,2017-01-01 00:00:45,Cooper Square & E 7 St,40.729236,-73.990868,Broadway & W 32 St,40.748549,-73.988084,Subscriber,1987.0,Female,32.0
5,666,2017-01-01 00:01:51,Central Park West & W 68 St,40.773407,-73.977825,Central Park West & W 68 St,40.773407,-73.977825,Subscriber,2000.0,Male,19.0
6,559,2017-01-01 00:05:00,Broadway & W 60 St,40.769155,-73.981918,9 Ave & W 45 St,40.760193,-73.991255,Subscriber,1973.0,Male,46.0
7,826,2017-01-01 00:05:37,Broadway & W 37 St,40.751726,-73.987535,E 10 St & Avenue A,40.727408,-73.981420,Subscriber,1977.0,Female,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2245983,261,2017-03-31 23:57:12,W 15 St & 7 Ave,40.739355,-73.999318,9 Ave & W 22 St,40.745497,-74.001971,Subscriber,1983.0,Male,36.0
2245984,119,2017-03-31 23:59:29,E 103 St & Lexington Ave,40.790305,-73.947558,2 Ave & E 104 St,40.789210,-73.943708,Subscriber,1987.0,Male,32.0
2245985,451,2017-03-31 23:59:42,W 13 St & Hudson St,40.739974,-74.005139,9 Ave & W 28 St,40.749370,-73.999234,Subscriber,1974.0,Male,45.0
2245986,1032,2017-03-31 23:59:49,Front St & Maiden Ln,40.705310,-74.006126,Avenue D & E 3 St,40.720828,-73.977932,Subscriber,1978.0,Male,41.0
2245987,117,2017-03-29 11:57:54,7 Ave & Park Pl,40.677615,-73.973243,Berkeley Pl & 7 Ave,40.675147,-73.975232,Subscriber,1949.0,Female,70.0

In [24]:
new_data_df.to_csv("final_datav1.csv", encoding='utf-8', index=False)